<header class="site-header px-responsive" role="banner">
  <div class="mt2 wrap">
    <div class="measure">
      <img src="{{ site.baseurl }}/images/a11y-octopus--purple.svg" alt="A11y Octopus" class="header-graphic">
      <h1 class="site-title"><a href="/">{{ site.title | strip_html }}</a></h1>
      <h2 class="h3" style="margin-top:0.5em">{{ site.eventdate }} at Seattle Central College</h2>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
    </div>
  </div>
  <!--<svg viewBox="0 0 1440 160" style="position: absolute; bottom: 0; left: 0; width: 100%;">
      <style type="text/css">
        .st0{fill:#FFFFFF;}
      </style>
    <g>
      <path class="st0" d="M1440,160V0C1263.4,134.9,616.6,158,0,158v2H1440z"/>
    </g>
  </svg>-->
</header>
