.site-header {
  background-color: #dbd9ea;
  border-bottom-width: 2px;
  border-bottom-color: $purple;
  border-bottom-style: inset;
  margin-bottom: $space-2;
  padding: 1rem;
  position: relative;
  text-align: left;

  .mt2 {
    padding: 0 0 $space-1;
    position: relative;
    z-index: 1;
  }
  .site-title {
    margin: 0;

    a {
      color: #000;
      background-image: none;
      border-bottom: none;
    }
  }
}
.site-subhead {

  h2 {
    margin-top: 0;

    a {
      color: #fff;
      border-bottom: none;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
.header-graphic {
  text-align: center;
  max-width: 180px;
  margin: 0 1em 0 0;
}
.site-nav {
  margin-top: $space-2;
}
.site-nav ul {
  display: flex;
  justify-content: left;
  padding: 0;
  flex-wrap: wrap;
}
.site-nav ul li {
  flex-shrink: 3;
  font-size: $nav-link-font-size;
  list-style: none;
  line-height: 2;
  padding: 0 $space-2 0 0;
  margin: 0;
}
.site-header nav a {
  color: $dark-gray;
  text-decoration: none;
  font-weight: bold;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $orange;
  opacity: 1;
}

.site-nav a.active {
  border-bottom: none;
  color: $purple;
  font-weight: bold;
  text-decoration: none;
}
.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

@media screen and (max-width: $small-screens) {
  .site-header {
    text-align: center;
  }
  .header-graphic {
    float: none;
  }
  .site-nav ul {
    justify-content: center;
  }
}