section.home {
  h2 {
    font-size: 1.8em;
    margin-top: 1em;
    font-style: italic;
  }
  // .homepage-callout {
  //   background-color: #f2efef;
  //   border: 1px solid #ccc;
  //   display: inline-block;
  //   padding: 0.25em;
  // }
  .buckets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
  }
  .logos {
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0;
    max-width: $viewport-medium;

    li {
      align-self: center;
      display: block;
      margin: 1rem;

      &.logo-deque {
        width: 13%;
      }
      &.logo-starbucks {
        width: 8%;
      }
      &.logo-microsoft {
        width: 15%;
      }
      &.logo-egghead {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 1em;
        width: 25%;
      }
      &.logo-foundry {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
      }
      a {
        border-bottom: none;
        display: block;

        svg {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .logos + p.center {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: $viewport-large) {
  .home figure img {
    max-width: 50%;
  }
}
@media screen and (max-width: $viewport-medium) {
  .homepage-callout {
    margin: 0 auto;
  }
  section.home .buckets {
    display: block;
  }
}